<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bgs.aoyoback.dao.CarMapper">

    <select id="getHotCarList" resultType="CarBrandHot">
        select * from aoyo_car_brand_hot
    </select>

    <select id="getCarList" resultType="CarBrand">
        select * from aoyo_car_brand
    </select>

    <select id="getCarListByLetter" resultType="CarBrand">
        select *from aoyo_car_brand where car_brand_py_first_letter=#{carBrandPyFirstLetter}
    </select>

    <select id="searchCarList" resultType="CarBrand">
        select * from aoyo_car_brand
        <where>
            <if test="name !=null and name !='' ">
                car_brand_name like "%${name}%"
            </if>
        </where>
    </select>
</mapper>
