<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bgs.aoyoback.dao.UserMapper">

    <sql id="aoyo_user">
        aoyo_id
        aoyo_name
        aoyo_sex
        aoyo_age
        aoyo_password
        aoyo_phone
        aoyo_nikeName
        aoyo_birthday
    </sql>


    <!-- //验证手机号
    AoyoUser selectUserInfo(String phone);-->
    <select id="selectUserInfo" parameterType="string" resultType="AoyoUser">
      select * from aoyo_user where aoyo_phone=#{phone}
    </select>

    <!-- //查询用户信息
    List<AoyoUser> showUserInfo();-->
    <select id="showUserInfo" resultType="AoyoUser">
        SELECT u.*,g.aoyo_alblum_cover
        FROM aoyo_user u, aoyo_gallery g
        WHERE u.aoyo_id=g.aoyo_user_id AND aoyo_id=#{id}
    </select>

    <!--//修改头像
    int uploadPhoto(AoyoPlatformImage platformImage);-->
    <insert id="uploadPhoto" parameterType="AoyoPlatformImage">
        insert into aoyo_platform_image (createtime,platform_image_name,platform_image_uri,aoyo_user_id)
        SELECT NOW(),
           #{platformImage.PlatformImageName},
           #{platformImage.PlatformImageUri}
            #{platformImage.AoyoUserId}
          FROM aoyo_platform_image
          WHERE aoyo_user_id= #{platformImage.AoyoUserId}
    </insert>

    <!--  //展示优惠券
    List<AoyoCoupon> showMyDiscount();-->
    <select id="showMyDiscount" resultType="AoyoCoupon">
        select * from aoyo_coupon
    </select>



    <!-- //查看订单
    List<AoyoOrder> showOrderList();-->
    <select id="showOrderList" resultType="AoyoOrder">
        SELECT o.*,g.GROUP_NAME,com.commodity_name,com.commodity_desc,com.commodity_selling_price,
        com.commodity_sort,img.commodity_img_url
        FROM aoyo_order o,sys_group g,aoyo_commodity com,aoyo_commodity_img img
        WHERE o.group_id=g.GROUP_ID AND com.commodity_id=o.commodity_id AND img.commodity_id=com.commodity_id
    </select>

    <!--   //删除订单
    int deleteOrder(Integer orderId);-->
    <delete id="deleteOrder" parameterType="Integer">
        delete from aoyo_order where order_id=#{orderId}
    </delete>

    <!--//订单详情
    AoyoOrder showOrderDetail(Integer id);-->
    <select id="showOrderDetail" resultType="com.bgs.aoyoback.pojo.AoyoOrder">
        SELECT o.*,com.commodity_name,g.GROUP_NAME,img.commodity_img_url FROM aoyo_order o,aoyo_commodity com,
        sys_group g,aoyo_commodity_img img
        WHERE o.commodity_id=com.commodity_id AND g.GROUP_ID=o.group_id AND o.order_id=2
        AND img.commodity_id=com.commodity_id
    </select>

</mapper>

