<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bgs.aoyoback.dao.UserMapper">

    <sql id="aoyo_user">
        aoyo_id
        aoyo_name
        aoyo_sex
        aoyo_age
        aoyo_password
        aoyo_phone
        aoyo_nikeName
        aoyo_birthday
    </sql>


    <!-- //验证手机号
    AoyoUser selectUserInfo(String phone);-->
    <select id="selectUserInfo" parameterType="string" resultType="AoyoUser">
      select * from aoyo_user where aoyo_phone=#{phone}
    </select>

    <!-- //查询用户信息
    List<AoyoUser> showUserInfo();-->
    <select id="showUserInfo" resultType="AoyoUser">
        SELECT u.*,g.aoyo_alblum_cover
        FROM aoyo_user u, aoyo_gallery g
        WHERE u.aoyo_id=g.aoyo_user_id AND aoyo_id=#{id}
    </select>

    <!--//修改头像
    int uploadPhoto(AoyoPlatformImage platformImage);-->
    <insert id="uploadPhoto" parameterType="AoyoGallery">
       insert into aoyo_gallery
        (createtime,aoyo_alblum_info,aoyo_alblum_cover,aoyo_user_id)
        values (NOW(),
           #{aoyoGallery.aoyoAlblumInfo},
           #{aoyoGallery.aoyoAlblumCover},
            #{aoyoGallery.aoyoUserId})
        on DUPLICATE KEY UPDATE
        aoyo_alblum_info=#{aoyoGallery.aoyoAlblumInfo},
        aoyo_alblum_cover= #{aoyoGallery.aoyoAlblumCover},
        aoyo_user_id=#{aoyoGallery.aoyoUserId}
    </insert>


    <!-- //查看订单
    List<AoyoOrder> showOrderList();-->
    <select id="showOrderList" resultType="AoyoOrder">
        SELECT o.*,g.GROUP_NAME,com.commodity_name,com.commodity_desc,com.commodity_selling_price,
        com.commodity_sort,img.commodity_img_url
        FROM aoyo_order o,sys_group g,aoyo_commodity com,aoyo_commodity_img img
        WHERE o.group_id=g.GROUP_ID AND com.commodity_id=o.commodity_id AND img.commodity_id=com.commodity_id
    </select>

    <!--   //删除订单
    int deleteOrder(Integer orderId);-->
    <delete id="deleteOrder" parameterType="Integer">
        delete from aoyo_order where order_id=#{orderId}
    </delete>

    <!--//订单详情
    AoyoOrder showOrderDetail(Integer id);-->
    <select id="showOrderDetail" resultType="com.bgs.aoyoback.pojo.AoyoOrder">
        SELECT o.*,com.commodity_name,com.commodity_sort,com.commodity_selling_price,g.GROUP_NAME,img.commodity_img_url
        FROM aoyo_order o,aoyo_commodity com,sys_group g,aoyo_commodity_img img
        WHERE o.commodity_id=com.commodity_id AND g.GROUP_ID=o.group_id AND o.order_id=#{id}
        AND img.commodity_id=com.commodity_id
    </select>


    <!--  //展示优惠券
        List<AoyoCoupon> showMyDiscount();-->
    <select id="showMyDiscount" resultType="AoyoCoupon">
        SELECT c.coupon_status,c.coupon_amt,c.coupon_type_id,c.coupon_status,new.coupon_new_end_time,
                new.coupon_new_name,new.coupon_new_sill_num,new.coupon_new_desc
        FROM aoyo_coupon c,aoyo_coupon_new new
        WHERE c.coupon_new_id=new.coupon_new_id
    </select>


    <!--//优惠券数量
    AoyoCoupon discountCount();-->
    <select id="discountCount" resultType="Integer">
        SELECT COUNT(*) FROM aoyo_coupon WHERE coupon_status=1
    </select>

    <!-- //关注商品
    List<AoyoCommodityCollection> commodityCollection();-->
    <select id="commodityCollection" resultType="AoyoCommodityCollection">
        SELECT com.commodity_name,com.commodity_selling_price,com.commodity_id,
                col.collectionCount,col.commodity_collection_id,col.is_effective,img.commodity_img_url
        FROM aoyo_commodity_collection col,aoyo_commodity com,aoyo_commodity_img img
        WHERE col.commodity_id=com.commodity_id AND com.commodity_id=img.commodity_id
    </select>

    <!--//关注商品数量
    int collectionCount();-->
    <select id="collectionCount" resultType="Integer">
        select COUNT(*) from aoyo_commodity_collection
    </select>

    <!-- //取消关注
    int deleteCollection(Integer collectionId);-->
    <delete id="deleteCollection" parameterType="Integer">
        delete from aoyo_commodity_collection where commodity_collection_id=#{collectionId}
    </delete>

    <!--//收货地址
    List<AoyoAddress> showAddressList();-->
    <select id="showAddressList" resultType="AoyoAddress">
       SELECT a.consignee_name,a.telephone,a.address_id,a.address_details,l.label_name,a.default_address,
        p.pname,ci.`name` cityname,area.`name` areaname,str.`name` streetsname
        FROM aoyo_address a,aoyo_address_label l,
        aoyo_province p, aoyo_city ci, aoyo_area area,aoyo_street str
        WHERE a.address_label_id=l.label_id AND a.province_id=p.`code`
        AND a.city_id=ci.`code` AND a.area_id=area.`code` AND a.street_id=str.`code`
    </select>
    
    <!--//收货地址标签
    List<AoyoAddressLabel> addressLabel();-->
    <select id="addressLabel" resultType="AoyoAddressLabel">
        select * from aoyo_address_label;
    </select>

    <select id="showProvince" resultType="AoyoProvince">
        select * from aoyo_province
    </select>
    <select id="showCitys" resultType="AoyoCity">
        select * from aoyo_city where province_code=#{code}
    </select>
    <select id="showAreas" resultType="AoyoArea">
        select * from aoyo_area where city_code=#{code}
    </select>
    <select id="showStreet" resultType="AoyoStreet">
        select * from aoyo_street where area_code=#{code}
    </select>


    <!--//添加收货地址
    int initAddress(AoyoAddress aoyoAddress);-->
    <insert id="initAddress">
        insert into aoyo_address
        (consignee_name,telephone,address_label_id,province_id,city_id,area_id,
        street_id,address_details,default_address)
        values
        (#{consigneeName},#{telephone},#{addressLabelId},#{provinceId},#{cityId},#{areaId},#{streetId},#{addressDetails},#{defaultAddress})
    </insert>

</mapper>

